:root {
    --theme-color: white;
    --primary-color: #1f3e72;
    --secundary-color: #2e4ecc;
    --text-color: #6d7b93;
    --text-color-inverse: white;
    --navbar-shallow-color: #e5e5e5;
    --manu-mobile-background-color: #3a4460;
}
/*
section[id]{
    scroll-margin-top: 70px;
    border: 4px solid red;
}
    
.observer-root-margin{
    pointer-events: none;
    z-index:1000;
    border: 4px solid blue;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
div{
    scroll-margin-top: 70px;
    border: 4px solid rgb(208, 241, 16);

}
section{
    scroll-margin-top: 70px;
    border: 4px solid red;
}*/
body{
    font-family: 'Montserrat', sans-serif;
    background-color: var(--theme-color);
    color: var(--text-color);
    padding-top: 50px;
}
a{
    text-decoration: none;
}
.vertical-padding{
    padding-left: 25px;
    padding-right: 25px;
}
.horizontal-padding{
    padding-top: 25px;
    padding-bottom: 25px;
} 

@media (min-width: 950px){
    .vertical-padding{
        padding-left: 70px;
        padding-right: 70px;
    }
    .horizontal-padding{
        padding-top: 20px;
        padding-bottom: 70px;
    } 

    
}